[Desktop Entry]
Name=Default applications
Comment=Default web browser, mail client, file browser, and other applications.
Type=Application
Exec=lingmo-settings default-apps
Terminal=false
Categories=Lingmo
Keywords=COSMIC;Default;Application
NoDisplay=true
OnlyShowIn=Lingmo
Icon=preferences-default-applications
StartupNotify=true
