[Desktop Entry]
Name=Date & Time
Comment=Time zone, automatic clock settings, and time formatting.
Type=Application
Exec=lingmo-settings date-time
Terminal=false
Categories=Lingmo
Keywords= COSMIC;Time;Zone;
NoDisplay=true
OnlyShowIn=Lingmo
Icon=preferences-date-and-time
StartupNotify=true
