[Desktop Entry]
Name=System & Accounts
Comment=System information, accounts, and firmware updates.
Type=Application
Exec=lingmo-settings system
Terminal=false
Categories=Lingmo
Keywords=COSMIC;System;Info;Accounts;Firmware;
NoDisplay=true
OnlyShowIn=Lingmo
Icon=preferences-system-and-accounts
StartupNotify=true
