[Desktop Entry]
Name=Wallpaper
Comment=Wallpaper images, colors, and slideshow options.
Type=Application
Exec=lingmo-settings wallpaper
Terminal=false
Categories=Lingmo
Keywords=COSMIC;Wallpaper;Background;Slideshow;
NoDisplay=true
OnlyShowIn=Lingmo
Icon=preferences-desktop-wallpaper
StartupNotify=true
