[Desktop Entry]
Name=Mouse
Comment=Mouse speed, acceleration, and natural scrolling.
Type=Application
Exec=lingmo-settings mouse
Terminal=false
Categories=Lingmo
Keywords=COSMIC;Mouse;Acceleration;Scrolling;
NoDisplay=true
OnlyShowIn=Lingmo
Icon=preferences-mouse
StartupNotify=true
