[Desktop Entry]
Name=Accessibility
Comment=Screen reader, magnifier, high contrast, and color filters.
Type=Application
Exec=lingmo-settings accessibility
Terminal=false
Categories=Lingmo
Keywords=COSMIC;Accessibility;A11y;Screen;Reader;Magnifier;Contrast;Color;
NoDisplay=true
OnlyShowIn=Lingmo
Icon=preferences-desktop-accessibility
StartupNotify=true
