[Desktop Entry]
Name=Workspaces
Comment=Workspace orientation, overview, and multi-monitor behavior.
Type=Application
Exec=lingmo-settings workspaces
Terminal=false
Categories=Lingmo
Keywords=COSMIC;Workspace;Orientation;Overview;Monitor;
NoDisplay=true
OnlyShowIn=Lingmo
Icon=preferences-workspaces
StartupNotify=true
