[Desktop Entry]
Name=Keyboard
Comment=Input sources, switching, special character entry, shortcuts.
Type=Application
Exec=lingmo-settings keyboard
Terminal=false
Categories=Lingmo
Keywords=COSMIC;Keyboard;Input;Source;Shortcuts;
NoDisplay=true
OnlyShowIn=Lingmo
Icon=preferences-desktop-keyboard
StartupNotify=true
