Source: lingmo-settings
Section: utils
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends:
    cmake (>= 3.20),
    debhelper-compat (= 13),
    pkg-config,
    qt6-base-dev (>= 6.5),
    qt6-declarative-dev,
    qt6-base-dev, qt6-declarative-dev, libkf6networkmanagerqt-dev,
Standards-Version: 4.6.2
Homepage: https://github.com/lingmo-os/lingmo-settings
Rules-Requires-Root: no

Package: lingmo-settings
Architecture: any
Depends:
    ,
    ,
Description: Lingmo Settings
 Lingmo Desktop Lingmo Settings.
